@CHARSET "ISO-8859-1";

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;
$blue: #66B9E3;
$charcoal: #323232;

$med-gutter:5.86rem;
$small-gutter:2.31rem;
$half:22.44rem;

/* BYU Template Stylesheet
* Last Updated: 22 Sep 2011
* Written by: BYU Web Community
* web.byu.edu 
*/

/*! normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1 }
audio:not([controls]) {display:none}
[hidden] {display:none}
html {font-size:100%; overflow-y:scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
body {margin:0}
body, button, input, select, textarea {font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif}
a:focus {outline:thin dotted}
a:hover, a:active {outline:0}
abbr[title] {border-bottom:1px dotted}
b, strong {font-weight:bold}
blockquote {margin:1em 40px}
dfn {font-style:italic}
mark {background:#ff0; color:#000}
pre, code, kbd, samp {font-family:monospace,serif; _font-family:'courier new',monospace; font-size:1em}
pre {white-space:pre; white-space:pre-wrap; word-wrap:break-word}
q {quotes:none}
q:before, q:after {content:''; content:none}
small {font-size:75%}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline}
sup {top:-0.5em}
sub {bottom:-0.25em}
ul, ol {margin:0; padding:0}
dd {margin:0}
nav ul, nav ol {list-style:none; list-style-image:none}
img {border:0; -ms-interpolation-mode:bicubic}
svg:not(:root) {overflow:hidden}
figure {margin:0}
form {margin:0}
fieldset {margin:0 2px; padding:.35em .625em .75em}
legend {border:0; *margin-left:-7px }
button, input, select, textarea {font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle }
button, input {line-height:normal; *overflow:visible }
table button, table input {*overflow:auto}
button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer; -webkit-appearance:button}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0}
input[type="search"] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0}
textarea {overflow:auto; vertical-align:top}
table {border-collapse:collapse; border-spacing:0}


/* Text */
body {
    /*background: url("../img/body-bg.png") no-repeat scroll center 127px #fff;*/
	background: url("../img/body-linen.png");
    color: #444;
    font: 13px/18px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    *font-size: small;
    min-width: 992px;
}
h1 { font:bold 36px/36px "Palatino Linotype","Palatino",Times,"Times New Roman",serif; margin:18px 0; color:#036;}
h2 { font:bold 24px/27px "Palatino Linotype","Palatino",Times,"Times New Roman",serif; margin:18px 0 9px;}
/*h3 { font:bold 15px/18px Helvetica,Arial,sans-serif }*/
h4 { font:bold 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h5 { font:13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h6 { font:italic 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h2, h3, h4, h5, h6 { color: #444 }
h3, h4, h5, h6 { margin: 9px 0 }
h1+h2, h3+h4, h4+h5, h5+h6 { margin-top: -9px }
body em { font-style:italic; }
body strong { font-weight:bold; }
body, select, input, textarea { color: #444 }
p a { text-decoration: underline}
p { margin: 9px 0}


/* Lists */
ul, ol { margin-left: 1.5em }
ol { list-style-type:decimal; margin-left:2em;}
ol ol { list-style-type: lower-alpha }
ol ol ol { list-style-type: lower-roman }
ol ol ol ol { list-style-type: decimal }
ol ol ol ol ol { list-style-type: lower-alpha }
ol ol ol ol ol ol { list-style-type: lower-roman }  
ul { list-style-type:disc; margin-left:2em;}
ul ul { list-style-type: circle }
ul ul ul { list-style-type: disc }
ul ul ul ul { list-style-type: circle }
ul ul ul ul ul { list-style-type: disc }
ul ul ul ul ul ul { list-style-type: circle }
ul ul { margin-top:.25em; margin-bottom:.25em;}
nav ul, nav ul ul { list-style:none}
nav ul, nav li { margin:0;}
dt { font-weight: bold }
dd { padding: 0 0 .75em 1em }

/* Custom */
#content.wrapper {
	width: 1004px;
	margin: 0 auto;
	padding: 0 #{$med-gutter/2};
	min-height:900px;
	box-sizing:border-box;
	font-size:14px;
}

#content {
	margin-bottom: 27px;
	overflow: hidden;
	padding-bottom: 20px;
	background: #fff;
	box-shadow: 0 0 30px 0px #dedede;
	-moz-box-shadow: 0 0 30px 0px #dedede;
	-webkit-box-shadow: 0 0 30px 0px #dedede;
	margin-bottom: 27px;
	overflow: hidden;
}

.floatRight{
	float:right;
}

.wrapper form {
	& > h1 {
		margin-left:#{$med-gutter/2};
	}
	
	& > h2 {
		margin:#{$small-gutter/4} #{$med-gutter/2};
		margin-top:$small-gutter;
		font-size:2em;	
		
		&:first-of-type {
			margin-top:0;
		}
	}
	
	& span {
		display:inline-block;
		margin:#{$small-gutter/4} #{$med-gutter/2};
		max-width:#{$half*1};
		line-height:1.5em;
		font-size:14px;
		
		&#contact {
			margin-left:0;
			margin-top:#{$small-gutter * .05};
			font-size:.95rem;
			color:#666;
			
			& a {
				/*display:block;*/
				margin-top:.5rem;
			}
		}
	}
	
	& > div.tall {
		max-height:100rem;	
		
		&.attachment {
			width:#{$half * 1.5 + $med-gutter};
			margin-top:0;
		}
		
		& h4 > span {
			font-size:.85rem;
			margin:0;
			margin-left:8px;
		}
		
		& p input {
			width:initial;
			height:initial;
		}
		
		& p span {
			margin:0;
			padding:0;
			vertical-align:top;
			padding-left:8px;
			line-height:1em;
			font-size:1.15em;
			margin-right:34px;
		}		
		
		& textarea {
			width:100%;
			box-sizing:border-box;
			min-height:10.25rem;
			margin-top:.35rem;
		}
		
		& span {
			margin-left:0;
			margin-top:#{$small-gutter * .25};
			
		}
	}
	
	& > div {
		//background-color: rgba($red,.3);
		width:$half;
		max-height:4rem;
		overflow:visible;
		margin:#{$med-gutter/6} #{$med-gutter/2};
		display:inline-block;
		vertical-align:top;
		
		&.GPA {
			
			& > span {
				margin-left:0;
				margin-right:#{$med-gutter/8};
			}
			
			& > input {
				display:inline-block;
				width:65px;
				min-height: #{$small-gutter};
								
			}
		}
		& > h4 {
			font-size:1.6em;
			line-height:1em;
			margin:0;
			font-weight:400;
		}
		
		& > input,select {
			width:100%;
			border: 1px solid #aaa;
			box-sizing:border-box;
			min-height:$small-gutter;
			font-size:1.15em;
			margin:0;
			margin-top:.35em;
			padding-left:10px;
		}
		
		& > p {
			padding-top:11px;
			position:relative;
		}
	}	
	
	& div.submitButton {
		display:block;
		max-width:102px;
		clear:both;
		border:1px solid #888;
		font-size:1.25em;
		line-height:1em;
		font-weight:200;
		color:#555;
		padding:10px 18px;
		box-sizing:border-box;
		width:initial;
		margin-left:auto;
		margin-right:auto;
		cursor:pointer;
		
		&:hover {
			border:1px solid #aaa;
			color:#7b7b7b;
			background-color:rgba(220,220,220,.05);
		}
	}
}

li.ui-menu-item{
	border: 0px blue solid;
	font-size:.95rem;
	padding:.35rem;
	list-style-type:none;
	
	&:hover {
		border:0px solid green;
		background:white;
		color:#555;
		cursor:pointer;
	}
}

.ui-autocomplete {
	max-height:150px;
	width: #{$half + $med-gutter/2};
	overflow:hidden;
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus, .ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight, .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border:0px solid green;
	background:white;
	color:#555;
	cursor:pointer;
}



/*	Correct is.byu.edu css things	*/
#course {
	background-color: transparent !important;
	font-size: 1.15em;
	min-height: 2.31rem;
	height: 2.31rem;
	border: 1px solid #aaa !important;
	margin-right: auto;
	border-radius: 0 !important;
	width: 100% !important;
}






